.innerWrapper{
    margin-top: -18px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1252px; 
    background-color: #b1b0b0;
}

body {
    margin: 8px;
    display:block;
    font-family: "Monaco", sans-serif;
    border-color: #272727;
}

main{
    padding-bottom:50px;
}
header{
	padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.navigationBar{
    text-align:center;
    padding: 16px;
    background-color: rgb(209, 83, 83);
    width:115%;
    margin-left: -150px;
    
}

.button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 15px;
    font-family: calibri, sans-serif; 
    text-transform: uppercase;
}

article{
    padding-left: 50px;
    padding-right: 50px;
}

p{
    padding: 10px;
    font-size: 15px;
}

img{
    width:100%;
    border: 5px solid #272727;
}

#mainHeading{
    color:red;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 45px;
    text-align: right;
    background-color: rgb(66, 66, 66);
    padding:10px;
   padding-right:20px;
    width: 116%;
    margin-left: -155px;
}

h2{
    font-family: 'Courier New', monospace;
    font-size:30px;
    text-align:center;
    padding: 16px;
    background-color: rgb(102, 102, 102);
    width:115%;
    margin-left: -150px;
    color:white;
    
}

h3{
    font-size:25px;
    text-transform: uppercase;
    padding:8px;
    width:110%;
    color:white;
    background-color:rgb(209, 83, 83);
}

#millikin{
    background-color:#395775;
    font-family: 'Tahoma Bold', sans-serif;
}

.umsl{
    background-color: #981e32;
}

#parttime{
    background-color: #767E3A;
}

#fulltime{
    background-color: #0a548b;
}

h4{
    font-size:20px;
    padding:8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

figure{
    margin:auto;
    max-width: 1000px;
    padding: 10px;
}

figcaption{
    font-size:12px;
    font-style:italic;
    text-align: center;
}



.funParagraph{
    color:green;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}

footer{
    font-size:12px;
    font-style:italic;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1252px; 
    background-color: rgb(184, 184, 184);
    border-top: 10px solid #272727;
    padding-top: -30px;
}